.WaterTracker__content {
  	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.WaterTracker {
	display: flex;
	flex-direction: column;
	padding: var(--padding-large);
	justify-content: space-around;
	align-items: center;
}

.WaterTracker__balance {
	padding-top: var(--padding-small);
  	color: var(--color-text-white);
  	font-family: var(--font-family);
}