.NumberPicker {
	display: grid;
  align-items: center;
	justify-items: center;
	grid-template-areas:
    "header header header"
    "arrow-left value arrow-right";
  font-family: var(--font-primary);
}

.NumberPicker__label {
  grid-area: header;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.NumberPicker__arrow {
  opacity: 0;
  transition: 0.25s ease-in;
}
.NumberPicker:hover .NumberPicker__arrow {
  opacity: 1;
}

.NumberPicker__arrow--left {
  grid-area: arrow-left;
}

.NumberPicker__arrow--right {
  grid-area: arrow-right;
}

.NumberPicker__value {
  grid-area: value;
  display: flex;
}

.NumberPicker__input {
	display: inline-block;
	text-align: center;
	overflow: visible;
  background: none;
  border: none;
  font-size: 32px;
  line-height: 37.5px;
  font-weight: 500;
  color: inherit;
}

.NumberPicker__unit {
  grid-area: unit;
  font-size: 32px;
  line-height: 37.5px;
  font-weight: 500;
}

.NumberPicker--light {
  color: var(--color-text-white);
}

.NumberPicker--dark {
  color: var(--color-primary);
}
