.Page {
    position: relative;
    height: var(--card-height);
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.Page__header {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-normal);
    box-sizing: border-box;
}

.Page__body {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Page__footer {
    min-height: 2.5rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: var(--padding-normal);
    box-sizing: border-box;
}