.MugSlider__content {
  	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MugSlider {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-around;
	align-items: center;
}

.MugSlider__balance {
  color: var(--color-text-white);
  font-family: var(--font-primary);
}