@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --color-background: #FCFFF7;
  --color-primary: #52AFC3;
  --color-accent: #F7C33E;
  --color-negative: #ec5454;
  --color-positive: #6ACF62;
  --color-text-white: var(--color-background);
  --page-transition: transform 200ms ease-out;
  --background-transition: top 300ms ease-in-out, left 300ms ease-in-out;
  --background-offset-x: -200px;
  --background-offset-y: 100px;
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  height: 400px;
  width: 300px;
  overflow: hidden;
  border: 4px solid var(--color-background);
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.page-container {
  height: 400px;
  width: 600px;
  position: relative;
  isolation: isolate;
  display: flex;
  box-sizing: border-box;
}

.page-container::before {
  content: '';
  position: absolute;
  width: 700px;
  height: 400px;
  background-color: var(--color-primary);
  z-index: -1;
  border-radius: 50%;
  left: var(--background-offset-x);
  top: var(--background-offset-y);
  transition: var(--background-transition);
}

.water-reminder-page-enter {
  transform: translateX(-100%);
}
.water-reminder-page-enter-active {
  transform: translateX(0);
  transition: var(--page-transition);
}
.water-reminder-page-enter-done {
  transform: translateX(0);
}
.water-reminder-page-exit {
  transform: translateX(0);
}
.water-reminder-page-exit-active {
  transform: translateX(-100%);
  transition: var(--page-transition);
}
.water-reminder-page-exit-done {
  transform: translateX(-100%);
}

.preferences-page-enter {
  transform: translateX(0);
}
.preferences-page-enter-active {
  transform: translateX(-100%);
  transition: var(--page-transition);
}
.preferences-page-enter-done {
  transform: translateX(-100%);
}
.preferences-page-exit {
  transform: translateX(-100%);
}
.preferences-page-exit-active {
  transform: translateX(0);
  transition: var(--page-transition);
}
.preferences-page-exit-done {
  transform: translateX(0);
}

.page-container-enter, .page-container-enter-active, .page-container-enter-done {
  --background-offset-x: -175px;
  --background-offset-y: 110px;
}
.page-container-exit, .page-container-exit-active, .page-container-exit-done {
  --background-offset-x: -225px;
  --background-offset-y: 125px;
}