@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --color-background: #FCFFF7;
  --color-primary: #52AFC3;
  --color-accent: #F7C33E;
  --color-negative: #ec5454;
  --color-positive: #6ACF62;
  --color-text-white: var(--color-background);
  --page-transition: transform 200ms ease-out;
  --background-transition: top 300ms ease-in-out, left 300ms ease-in-out;
  --card-width: 18rem;
  --card-height: 24rem;
  --background-offset-x: calc(var(--card-width) / 2);
  --background-offset-y: calc(var(--card-height) / 3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #131010;
    --color-primary: #338899;
    --color-accent: #F7C33E;
    --color-negative: #ec5454;
    --color-positive: #6ACF62;
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.App {
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  border: 0.25rem solid var(--color-background);
  box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.page-container {
  width: calc(var(--card-width) * 2);
  height: var(--card-height);
  position: relative;
  isolation: isolate;
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-background);
}

.page-container::before {
  content: '';
  position: absolute;
  width: calc(var(--card-width) * 2.2);
  height: var(--card-height);
  background-color: var(--color-primary);
  z-index: -1;
  border-radius: 50%;
  left: var(--background-offset-x);
  top: var(--background-offset-y);
  transition: var(--background-transition);
}

.water-reminder-page-enter {
  transform: translateX(-100%);
}
.water-reminder-page-enter-active {
  transform: translateX(0);
  transition: var(--page-transition);
}
.water-reminder-page-enter-done {
  transform: translateX(0);
}
.water-reminder-page-exit {
  transform: translateX(0);
}
.water-reminder-page-exit-active {
  transform: translateX(-100%);
  transition: var(--page-transition);
}
.water-reminder-page-exit-done {
  transform: translateX(-100%);
}

.preferences-page-enter {
  transform: translateX(0);
}
.preferences-page-enter-active {
  transform: translateX(-100%);
  transition: var(--page-transition);
}
.preferences-page-enter-done {
  transform: translateX(-100%);
}
.preferences-page-exit {
  transform: translateX(-100%);
}
.preferences-page-exit-active {
  transform: translateX(0);
  transition: var(--page-transition);
}
.preferences-page-exit-done {
  transform: translateX(0);
}

.page-container-enter, .page-container-enter-active, .page-container-enter-done {
  --background-offset-x: calc(var(--card-width) * -0.6);
  --background-offset-y: calc(var(--card-height) * 0.3);
}
.page-container-exit, .page-container-exit-active, .page-container-exit-done {
  --background-offset-x: calc(var(--card-width) * -0.65);
  --background-offset-y: calc(var(--card-height) * 0.35);
}